node_modules/
.env
.env.local
storage/uploads/*
storage/recordings/*
storage/wa-session/*
!storage/.gitkeep
logs/*
*.log
*.err
coverage/
dist/
.next/
.sequelizerc
livekit-bin/
livekit.zip
server*.log
server*.err
livekit*.log
livekit*.err
*.zip
*.exe
